.w1{
  background-color: HotPink;
}

.w2{
  background-color: LawnGreen;
}

.w3{
  background-color: Orange;
}

.logo{
  width: 200px;
}

.project{
  width: 80px;
}

.text_right{
  text-align: right;
}
